# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Terraform
infrastructure/.terraform


# Orchestrator
*.db
*.nux
*.telemetry
orchestrator/mlruns
orchestrator/schedules
orchestrator/storage
orchestrator/logs

.env
.logs_queue
.pytest_cache
*.DS_Store
