# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Terraform
infrastructure/.terraform
*.DS_Store

# Orchestrator
*.db
*.nux
*.telemetry
.logs_queue
.pytest_cache
orchestrator/mlruns
orchestrator/mlruns
orchestrator/schedules
orchestrator/storage
orchestrator/logs

.env
